*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  width: 100%;
  height: 100%;
  
}

.calendar-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.calendar-header {
  text-align: left;
  margin-bottom: 20px;
}

.calendar-header h2 {
  font-size: 1.5rem;
}

.calendar-header p {
  color: gray;
}

.calendar-months {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-month {
  width: 45%;
  margin: 0 10px;
}

.month-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.week-days {
  display: contents;
}

.day-name {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.month-days {
  display: contents;
}

.calendar-day {
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.calendar-day:hover {
  background-color: lightgray;
}

.selected {
  background-color: black;
  color: white;
}

.clear-dates {
  margin-top: 20px;
  background-color: white;
  border: none;
  color: blue;
  cursor: pointer;
}
