*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  width: 100%;
  height: 100%;
  
}

.coverPage{
  background-image: url(./assets/architecture-1477100_1280.jpg-copy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 100vw;
  height: 65vh;
}

body {
  font-family: 'Arial', sans-serif;
}
.slider {
  display: flex;
  white-space: nowrap;
  transition: transform 0.5s linear;
}
.slider-item {
  display: inline-block;
  width: 16rem; /* 64 * 4 */
  height: 20rem; /* 80 * 4 */
  margin: 0 0.5rem;
}